<div class="wrapper">
  <div class="login-page">

    <h2 style="color: #fff;">Login</h2>

    <form [formGroup]="loginForm" class="formClass">
    <div class="container">
      <div class="inputClassWrapperWrapper">
        <div class="inputClassWrapper">
          <div class="inputClass">
            <mat-form-field appearance="fill">
              <input matInput formControlName="username" placeholder="Username">
            </mat-form-field>
          </div>

          <div class="inputClass">
            <mat-form-field appearance="fill">
              <input matInput type="password" formControlName="password" placeholder="Password">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="controls">
        <button class="buttonClass"
                [disabled]="loginForm.invalid"
                (click)="submitDataToServer()"
                mat-flat-button color="primary">
          Login
        </button>
        <button class="buttonClass" mat-flat-button (click)="navigateToRegister()">Register</button>
      </div>
    </div>
    </form>
  </div>
</div>
