* {
  color: #fff;
  font-size: 14pt;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 100%;
  margin: 0;
  padding: 0;
}

.rec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #fff solid 1px;
}

.infoRec {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.infoRecText {
  border-top: #fff solid 1px;
  border-bottom: #fff solid 1px;
}

.textContainer {
  margin: 5px 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

button {
  color: #750505;
  width: 100%;
  border: none;
  height: 50px;
  font-weight: bold;
  padding-top: -50px;
  cursor: pointer;
}
