<div class="wrapper">
  <div class="registration-page">

    <h1 style="color: #fff;">Register</h1>

    <form [formGroup]="registerForm">
      <div class="container">
        <div class="inputClass">
            <input matInput formControlName="firstname" placeholder="Firstname">
        </div>

        <div class="inputClass">
            <input matInput formControlName="lastname" placeholder="Lastname">
        </div>

        <div class="inputClass">
            <input matInput formControlName="username" placeholder="Username">
        </div>

        <div class="inputClass">
            <input matInput type="password" formControlName="password" placeholder="Password">
        </div>

        <div class="inputClass">
            <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm your password">
        </div>

        <div class="inputClass">
            <input matInput formControlName="email" placeholder="Email">
        </div>

        <div class="inputClass">
            <input matInput formControlName="info" placeholder="About you...">
        </div>

        <div class="controls">
          <button [disabled]="registerForm.invalid"
                  (click)="submitDataToServer()"
                  mat-flat-button color="primary">
            Register
          </button>
          <button (click)="navigateToLogin()"
                  mat-flat-button color="primary">
            Login
          </button>
        </div>

      </div>
    </form>
  </div>
</div>
