<div class="wrapper">
  <div class="registration-page">

    <h2 style="color: #fff;">Register</h2>

    <form [formGroup]="registerForm">
      <div class="container">
        <div class="inputClass">
          <mat-form-field appearance="fill">
            <input matInput formControlName="firstname" placeholder="Firstname">
          </mat-form-field>
        </div>

        <div class="inputClass">
          <mat-form-field appearance="fill">
            <input matInput formControlName="lastname" placeholder="Lastname">
          </mat-form-field>
        </div>

        <div class="inputClass">
          <mat-form-field appearance="fill">
            <input matInput formControlName="username" placeholder="Username">
          </mat-form-field>
        </div>

        <div class="inputClass">
          <mat-form-field appearance="fill">
            <input matInput type="password" formControlName="password" placeholder="Password">
          </mat-form-field>
        </div>

        <div class="inputClass">
          <mat-form-field appearance="fill">
            <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm your password">
          </mat-form-field>
        </div>

        <div class="inputClass">
          <mat-form-field appearance="fill">
            <input matInput formControlName="email" placeholder="Email">
          </mat-form-field>
        </div>

        <div class="inputClass">
          <mat-form-field appearance="fill">
            <input matInput formControlName="info" placeholder="About you...">
          </mat-form-field>
        </div>

        <div class="controls">
          <button [disabled]="registerForm.invalid"
                  (click)="submitDataToServer()"
                  mat-flat-button color="primary">
            Register
          </button>
          <button mat-flat-button
                  (click)="navigateToLogin()"
                  mat-flat-button color="primary">
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
