.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.inputClass {
  margin-top: 5px;
  margin-bottom: 5px;
}

.registration-page {
  text-align: center;
  margin-top: 10rem;
  width: 40%;
  background-color: #1d7d82;
  min-width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
}

.controls{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

form {
  display: flex;
  justify-content: center;
}

button {
  width: 80px;
  padding: 2px 2px;
  font-size: 12pt;
}

input {
  background-color: #fff;
  color: #000;
  padding-left: 2px;
  padding-right: 2px;
  text-align: left;
  font-size: 14pt;
  border: none;
}
