.allMessagesContainer {
  display: flex;
  flex-direction: column;
  height: 90%;
  min-height: 0;
  overflow: scroll;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  margin-bottom: 40px;
}

.inputContainerWrapper {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  height: 10%;
  min-height: 100px;
}

.mesWrapperLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.mesWrapperRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mesContainer {
  border-radius: 25px;
  border: #fff solid 2px;
  background-color: #195d62;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px 2px;
  width: fit-content;
  max-width: 50%;
}

.sender {
  color: #b1b7b7;
  font-size: 12pt;
}

.message {
  font-size: 14pt;
}

p {
  margin: 3px auto;
  color: #fff;
  overflow-wrap: break-word;
  white-space: pre-line;
}

h1 {
  margin: 6px auto;
}

button {
  cursor: pointer;
  border: #000 solid 1px;
  margin-bottom: 10px;
  height: 46px;
  width: 60px;
}

input {
  height: 40px;
  font-size: 14pt;
  width: 400px;
}
